<body>
    <h1>Calculadora Ac01</h1>
    <form action="/calculaform" method="POST" name="testes">
        <input type="text" id="v1" name="v1" placeholder="Primeiro numero">
        <br>
        <br>
        <input type="text" id="v2" name="v2" placeholder="Segundo numero">
        <br>
        <br>
        <input type="text" id="operacao" name="operacao" placeholder="Digite a operação ou simbolo">
        <p>soma + | tira - | multiplica * | divide /</p>
        <br>
        <br>
        <input type="submit" name="enviar">
    </form>
</body>